
 .line-effect{
 	margin-right: 0px !important;
 }

 .title-main{
 	margin-bottom: 45px;
 }

 .checker{
 	width: 20px;
 	height: 20px;
 	float: left;
 }


 .color-ucol{
 	background: #669933 !important;
 }

 .Title-fil{
 	border:solid 1px;
 	padding-top: 15px;
 	padding-bottom: 15px;
 	text-align: center;
 	border-color: #eeeeee;
 }

 .Fil-ucol{
 	margin-left: 15px;
 }

 .panel-title{
 	padding-left: 5px;
 }

 .list-group-item{
 	border: none !important;
 }


 .container-body{
 	width: 98%;
 	height: 500px;
 }

 .modal-d{
 	max-width: 80%;
 	margin: 1.33rem auto;
 }



 /*Head new title*/

 .line{
 	border-bottom: 1px solid #cdcdcd;
 	height: 1px;
 	width: 100%;
 	margin-bottom: 25px;
 }

 .Container-full{
 	width: 100%;
 }

 .subtitle-main{
 	padding-left: 15px;
 	padding-right: 15px;
 }

 .Title-main{
 	padding-bottom: 5px;
 }

 /*Panel de control tesis filtros */

 .filters-menu{
 	width: 25%;
 	height: auto;
 	background: transparent;
 	float: left;
 	padding-top: 30px;
 }

.filters-menu-title{
	background: #669933;
	padding-bottom: 15px;
	text-align: center;
	padding-top: 15px;
}

 .panel{
 	border-bottom:solid 1px;
 	border-left: solid 1px;
 	border-right: solid 1px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	border-color: #cdcdcd;
 }

 .list-group-item{
 	background: none;
 }

 .container-full-body{
 	width: 75%;
 	float: left;
 	background: transparent;
 }

  .indicator{
 	color: #669933;
 	float: right;
 	margin-right: 5px;
 }

 .panel{
 	padding-left: 10px;
 	padding-right: 10px;
 }

 

 /*Login y filtros*/
 .form-group{
 	/*margin-bottom: 0px;*/
 }






/* 060 y 062 */

#formRegistroTesis > .row > .colum {
	padding-top: 15px;
}

#formRegistroTesis > .row > .colum > .preguntas > input[type="text"] {
	width: 35%;
	color: red;
	border: 0px;
}

#formRegistroTesis > .row > .colum > .preguntas > span {
	width: 30%;
	background: white;
	float: left;
}

.preguntas{
	width: 80%;
	margin: 0 auto;
	background: yellow;
	height: auto;
}

.anc{
	width: 55% !important;
}

#formRegistroTesis > .form-group > label{
	color: black;
	font-size: 35px;
}

#formRegistroTesis{
	width: 80%; 
	height: auto; 
	background: white; 
	margin: 0 auto;
}

.form-group{
	margin-top: 20px !important;
}

.colorEspecial{
	/*background: -webkit-linear-gradient(left top, #14235f ,white 80%, #14235f);
	background: linear-gradient(to bottom, blue, white);*/
	background: white;
	border-radius: 10px;
	width: 70%; 
	height: auto; 
	margin: 0 auto; 
	margin-top: 25%; 
}


.x1{
	padding-left: 0px !important;
	top:0px !important;
	padding-top: 0px;
}

.mdT{
	width: 100%; 
	height: 100%; 
	background: rgba(128, 128, 128, 0.5);
}

#tdDatos > tbody > tr > th{
	width: 20%;
}

#exampleModal{
	overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}


.sc{
	width: 80%; 
	height: auto; 
	background: white; 
	margin: 0 auto; 
	margin-top: 2.5%; 
	margin-bottom: 25px;
}


/*Tesis no disponibles*/

.Cerrado{
	width: 100%;
 	background:  #1d3389;
 	text-align: center;
 	color: white;
}

.btn-click-cerrado{
 	background: #1d3389;
 	color: white;
 }

 .btn-click-cerrado:hover{
 	background: #14235f;
 	color: white;
 }

  .conteiner-thesis-cerrado{
 	 border:solid 2px transparent !important;
 }

   .conteiner-thesis-cerrado{
 	 border:solid 2px transparent !important;
 }


.conteiner-thesis-cerrado:hover{
	border:solid 2px #14235f !important;
}



/*Tesis disponible*/
.conteiner-thesis{
	border:solid 2px transparent;
}

.Select-thesis-head{
	width: 100%;
 	background:  #669933;
 	text-align: center;
}

.btn-click{
 	background: #669933;
 	border-color: #669933;
}

article > div:hover{
 	border: 2px solid #669933;
}

.centrar-elements > button{
	margin-top: 30px;
	margin-bottom: 30px;
}



/*Tesis general estilos*/
.full-tesis{
	margin-top: 15px;
}

.img-thesis{
 	width: 100%;
 	height: 125px;
}

.Select-thesis-footer{
	text-align: center;
	padding-bottom: 25px;
}

.se-th-fi{
 	height: 215px;
 	width: 100%;
 	padding-top: 10px;
 	justify-content: center;
 	align-items: center;
 	display: flex;
}

.head
{
	font-weight: 300;
  	color: white !important;
  	padding: 12px 0;
  	border-bottom: none;
  	margin: 0;
  	line-height: normal;
  	text-align: center;
  	direction: ltr;
  	font: 400 40px 'Open Sans', Arial, sans-serif;
}

.paddingBottom{
	padding-bottom: 5px;
}

/*Ver Mas*/
.con-img{
	justify-content: center; 
	align-items: center; 
	display: flex;
}

.con-img > div > a > img{
	height: 250px; 
	width: 300px;
}

.centrar-elements{
	margin-left: auto;
  	margin-right: auto;
  	width: 360px;
}

.new-title{
 	background: #14235f;
 	color: white;
}

.padding-t{
 	padding-top: 15px;
}



.container-ver-mas{
	width: 100%;
	height: auto;
}



.sub-container > table{
	width: 100%;
}

.wd-btn{
	width: 117px;
}

.ttle{
	text-align: center;
}

/*Medias queris*/
@media screen and (max-width: 768px){
	 .Fil-ucol{
 		margin-left: 0px;
 	}
 	 .sub-container{
 		margin-right: 0px;
 		margin-left: 0px;
 	}
}


@media screen and (max-width: 992px){
	.filters-menu{
		width: 100%;
	}

	.container-full-body{
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 440px){
	.full-tesis{
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
}

@media screen and (max-width: 600px){
	.wd-btn{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	.centrar-elements{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 30px;
	}

	.centrar-elements > button{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 400px){
	.wd-btn{
		width: 100%;
		margin-top: 10px;
		margin: 0 auto;
	}

	.centrar-elements{
		width: 90%;
	}

	.sub-container{
		margin-left: auto;
		margin-right: auto;
	}
}

.btn-default{
	background: gray;
	color: white;
}

.btn-default:hover{
	background: gray;
	opacity: 0.5;
}