.head
{
  font-weight: 300;
  color: white;
  padding: 12px 0;
  border-bottom: none;
  margin: 0;
  line-height: normal;
  text-align: center;
  direction: ltr;
  font: 400 40px 'Open Sans', Arial, sans-serif;
}

.enunciado
{
  display: block;
  display: block;
  margin-top: 5px;
  font-size: 8px;
  font-style: italic;
  border-radius: 0 !important;

}

.footer-stylesheet
{
  color: #777;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  padding: 0 20px 19px;
}

.parrafo
{
  display: block;
  font-size: 12px;
  height: 90px;
  overflow: hidden;
  line-height: 20px;
  text-overflow: ellipsis;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

article > div:hover
{
  border: 2px solid green;

}

/*Otros*/

.pt{
  padding-top: 15px;
  padding-bottom: 15px;
}

.mt{
  margin-top: 15px;
  margin-bottom: 15px;
}

.border{
  border-right: 1px solid #eeeeee;
}